.book-detail-container {
  width: 100%;
  min-width: 40vw;
  display: flex;
  justify-content: space-between;
  .book-image {
    width: 40%;
    height: 60vh;
  }
  .book-detail {
    width: 60%;
    padding: 1rem;
    h2 {
      font-family: "Playwrite", cursive;
      font-weight: 600;
    }
    h3 {
      font-family: "Source Sans 3", sans-serif;
      font-weight: 500;
      font-style: italic;
      color: rgb(10, 10, 73);
    }
    .book-description {
      font-family: "Source Sans 3", sans-serif;
      font-weight: 500;
      font-size: 20px;
    }
    .publish-date {
      font-family: "Source Sans 3", sans-serif;
      font-style: italic;
      font-size: 16px;
    }
  }
}
