.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .book-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
