$background-color: #f9f9f9;
$text-color: #333;
$card-background-color: #fff;
$card-border-color: #ddd;
$button-background-color: #007bff;
$button-text-color: #fff;
$button-hover-background-color: #0056b3;
$button-border-color: #ddd;
$pagination-background-color: #fff;
$pagination-text-color: #007bff;
$pagination-active-background-color: #007bff;
$pagination-active-text-color: #fff;
$pagination-hover-background-color: #0056b3;
$detail-background-color: #fff;
$input-border-color: #ccc;
